.page {
  font-family: 'Inter', 'Arial', 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0 24px;
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 11px;
  }
}

