.cover__text-content {
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  padding-left: 312px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover__text-content{
    padding-top: 202px;
    padding-left: 232px;
  }
}

@media screen and (max-width: 768px) {
  .cover__text-content{
    padding-top: 114px;
    padding-left: 105px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text-content{
    padding-top: 32px;
    padding-left: 34px;
    max-width: 288px;
  }
}